/* =All variables used throughout the scss sheets 
----------------------------------------------- */

/* =Colors */
$primary-color: #404040;
$secondary-color: #ccc;
$link-color: royalblue;
$visited-color: purple;
$hover-color: midnightblue;

/* =Background Colors */
$primary-background-color: #fff;
$secondary-background-color: #fff9c0;
$hr-primary-background-color: #ccc;

/* =Fonts */
$sans-serif-font: sans-serif;
$serif-font: serif;
$pre-font: "Courier 10 Pitch", Courier, monospace;
$code-font: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$primary-font-size: 16px;
$primary-font-size-rem: 1.6rem;
$secondary-font-size: 15px;
$secondary-font-size-rem: 1.5rem;

/* =Line Heights */
$primary-line-height: 1.5;
$secondary-line-height: 1.6;